@use "variables" as *;
@use "sass:math";

@mixin padding-x($padding) {
  padding-left: math.div($padding, 1440px) * 100%;
  padding-right: math.div($padding, 1440px) * 100%;
}

* {
  font-family: $alata;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none !important;
}
.hero {
  background: url(./images/desktop/image-hero.jpg) no-repeat;
  @include padding-x(165px);
  padding-top: 60px;
  padding-bottom: 145px;
  width: 100%;
  background-size: cover;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
}
.nav__menu {
  display: none;
}
.mobile__menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  z-index: 100;
  @include padding-x(80px);
  padding-top: 60px;
  gap: 30px;
  .mobile__menu__links {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	.links {
		display: flex;
		flex-direction: column;
		text-transform: uppercase !important;
		gap:0;
		.links__item {
			font-size: 20px;
			line-height: 150%;
			font-weight: 300;
			font-family: $josefin !important;
		}
	  }
}
}
.mobile__menu svg path {
  fill: $white;
}
.mobile__menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}
.links__item {
  line-height: 30px;
  font-size: 12px;
  position: relative;
  width: 100%;
}
.links__item::after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: transparent;
}
.links__item:hover {
  cursor: pointer;
}
.links__item:hover::after {
  background-color: $white;
}
.hero__title {
  margin-top: 130px;
  border: 2px solid $white;
  font-size: 54px;
  color: $white;
  padding: 45px;
  font-family: $josefin;
  font-weight: 300;
  width: fit-content;
  max-width: 550px;
  margin-bottom: 0;
}
.interactive {
  @include padding-x(165px);
  padding-top: 160px;
  display: flex;
  align-items: end;
}
.interactive__image {
  width: 730px;
}
.interactive__text {
  width: 705px;
  margin-left: -165px;
  background-color: $white;
  height: 315px;
  padding: 100px;
}
.interactive__title {
  font-family: $josefin;
  font-size: 32px;
  font-weight: 300;
}
.interactive__description {
  color: $dark-gray;
  font-size: 11px;
  line-height: 150%;
}
.creations {
  @include padding-x(165px);
  margin-top: 145px;
  padding-bottom: 40px;
  .creations__link {
    display: none;
  }
}
.creations__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
.creations__title {
  font-family: $josefin;
  font-size: 36px;
  font-weight: 300;
}
.creations__link {
  border: 1px solid $black;
  @include padding-x(40px);
  text-decoration: none;
  font-size: 12px;
  line-height: 40px;
  letter-spacing: 2px;
  color: $black;
  background-color: $white;
  transition: all 0.3s ease-out;
}
.creations__link:hover {
  filter: invert(1);
}
.creations__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.creations__list__item {
  width: 100%;
  width: 256px;
  height: 450px;
  vertical-align: baseline;
  color: $white;
  display: flex;
  align-items: end;
  padding-left: 40px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-color: black !important;
  background-size: cover;
  position: relative;
  flex-shrink: 0;
}
.creations__list__item:hover {
  color: $black;
  cursor: pointer;
}
.creations__list__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  z-index: 1;
}
.creations__list__item:hover::before {
  filter: invert(1);
}
.creations__list__item__name {
  font-family: $josefin;
  font-weight: 300;
  font-size: 24px;
  width: 165px;
  z-index: 10;
}
footer {
  @include padding-x(165px);
  background-color: $black;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.socials li:hover {
  cursor: pointer;
  border-bottom: 2px solid $white;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  color: $dark-gray;
  .links {
    color: $white;
  }
  .socials {
    display: none;
  }
}
.attribution {
  font-size: 14px;
  text-align: center;
  color: $white;
  padding-bottom: 45px;
}
.attribution a {
  color: $dark-gray;
}
@media screen and (width <= 992px) {
  .interactive__image {
    width: 530px;
  }
  .interactive__text {
    width: 905px;
    margin-left: -165px;
    background-color: $white;
    height: 200px;
    padding: 50px;
    padding-right: 0;
  }
  .interactive__title {
    font-size: 20px;
    font-weight: 300;
  }
  .interactive__description {
    font-size: 9px;
    line-height: 150%;
  }
}
@media screen and (width <= 480px) {
  .nav {
    .links {
      display: none;
    }
    .nav__menu {
      display: block;
    }
  }
  .hero {
    @include padding-x(80px);
    .hero__title {
      width: 100%;
      padding: 25px;
      font-size: 42px;
    }
  }
  .interactive {
    @include padding-x(80px);
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .interactive__image {
    width: 100%;
  }
  .interactive__text {
    width: 100%;
    background-color: $white;
    height: fit-content;
    text-align: center;
    margin-left: 0;
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .interactive__title {
    font-family: $josefin;
    font-size: 32px;
    font-weight: 300;
  }
  .interactive__description {
    color: $dark-gray;
    font-size: 11px;
    line-height: 150%;
  }
  .creations {
    @include padding-x(80px);
    gap: 30px;
	margin-top: 40px;
	margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .creations__link {
      display: block;
      width: fit-content;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .creations__header {
    .creations__title {
      width: 100%;
      text-align: center;
    }
    .creations__link {
      display: none;
    }
  }
  .creations__list {
    width: 100%;
    padding: 0;
    justify-content: center;
  }
  .creations__list__item {
    height: 200px;
    width: 100% !important;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  footer {
    @include padding-x(80px);
  }
  .footer__top {
    flex-direction: column;
    align-items: center;
    .links {
      display: none;
    }
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .links {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
    .socials {
      display: flex;
      flex-direction: row;
    }
  }
}
